Import thư viện

In [2]:
import numpy as np
import pandas as pd

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. In giá trị của Series đó ra màn hình

In [3]:
series_1 = pd.Series([1, 22, 3, 45, 5, 64, 7, 87, 9, 100])
series_1

0      1
1     22
2      3
3     45
4      5
5     64
6      7
7     87
8      9
9    100
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [4]:
series_2 = pd.Series(["Thịnh", 18, "Nam", "Kinh", "Phật giáo"], index=["Tên", "Tuổi", "Giới tính", "Dân tộc", "Tôn giáo"])
series_2

Tên              Thịnh
Tuổi                18
Giới tính          Nam
Dân tộc           Kinh
Tôn giáo     Phật giáo
dtype: object

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [10]:
series_stt = []
for i in series_1.index:
  series_stt.append(f'So thu {i}')
series_3 = pd.Series(series_1.values, index=series_stt)
series_3

So thu 0      1
So thu 1     22
So thu 2      3
So thu 3     45
So thu 4      5
So thu 5     64
So thu 6      7
So thu 7     87
So thu 8      9
So thu 9    100
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [11]:
print(series_2[4])

Phật giáo

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [13]:
print(series_3['So thu 5'])

64

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [27]:
#Lay 5 so dau tien
series_3[[int(name[-1]) <5 for name in series_3.index]]

So thu 0     1
So thu 1    22
So thu 2     3
So thu 3    45
So thu 4     5
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [22]:
series_1.index.name = 'STT'
series_1.name = 'Gia_tri'
series_1

STT
0      1
1     22
2      3
3     45
4      5
5     64
6      7
7     87
8      9
9    100
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [25]:
series_log = pd.Series([np.log(a) for a in series_1.values])
series_log

0    0.000000
1    3.091042
2    1.098612
3    3.806662
4    1.609438
5    4.158883
6    1.945910
7    4.465908
8    2.197225
9    4.605170
dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [26]:
series_1[series_1>15]

STT
1     22
3     45
5     64
7     87
9    100
Name: Gia_tri, dtype: int64