Hãy sử dụng các tập dữ liệu sau và tiến hành phân tích ANOVA 1 chiều

- [Excavation Depth and Archaeology](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan01.html)
- [Apple Orchard Experiment](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan02.html)
- [Red Dye Number 40](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan03.html)
- [Business Startup Costs](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan04.html)
- [Weights of Football Players](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan05.html)

In [103]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats
from scipy.stats import shapiro
from scipy.stats import bartlett

In [104]:
class ProJect_ANOVA:


    def __init__(self, data):
        self.data = data
        self.samples = []
        for i in data.columns:
            self.samples.append(data[i].dropna())


    def KT_phan_phoi_chuan(self):
        for (stt, sample) in enumerate(self.samples):
            stat, p = stats.shapiro(sample)
            if p > 0.05:
                print(f'Mẫu {stt+1} tuân theo phân phối chuẩn')
            else:
                print(f'Mẫu {stt+1} không tuân theo phân phối chuẩn')


    def KT_phuong_sai(self):
        stat, p = stats.bartlett(*self.samples)
        if p > 0.05:
            print('Phương sai bằng nhau')
        else:
            print('Có ít nhất một cặp Phương sai không bằng nhau')

Excavation Depth and Archaeology

In [105]:
df_1 = pd.read_excel('owan01.xls')
df_1.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

    X1    X2     X3    X4
0   93  85.0  100.0  96.0
1  120  45.0   75.0  58.0
2   65  80.0   65.0  95.0
3  105  28.0   40.0  90.0
4  115  75.0   73.0  65.0

In [107]:
owan1 = ProJect_ANOVA(df_1)

In [109]:
owan1.KT_phan_phoi_chuan()
owan1.KT_phuong_sai()

Mẫu 1 tuân theo phân phối chuẩn
Mẫu 2 tuân theo phân phối chuẩn
Mẫu 3 tuân theo phân phối chuẩn
Mẫu 4 tuân theo phân phối chuẩn
Phương sai bằng nhau

Apple Orchard Experiment

In [111]:
df_2 = pd.read_excel('owan02.xls')
df_2.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X1    X2    X3    X4    X5
0  2569  2074  2505  2838  1532
1  2928  2885  2315  2351  2552
2  2865  3378  2667  3001  3083
3  3844  3906  2390  2439  2330
4  3027  2782  3021  2199  2079

In [112]:
owan2 = ProJect_ANOVA(df_2)

In [113]:
owan2.KT_phan_phoi_chuan()
owan2.KT_phuong_sai()

Mẫu 1 tuân theo phân phối chuẩn
Mẫu 2 tuân theo phân phối chuẩn
Mẫu 3 tuân theo phân phối chuẩn
Mẫu 4 tuân theo phân phối chuẩn
Mẫu 5 tuân theo phân phối chuẩn
Phương sai bằng nhau

Red Dye Number 40

In [114]:
df_3 = pd.read_excel('owan03.xls')
df_3.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

   X1    X2    X3    X4
0  70  49.0  30.0  34.0
1  77  60.0  37.0  36.0
2  83  63.0  56.0  48.0
3  87  67.0  65.0  48.0
4  92  70.0  76.0  65.0

In [115]:
owan3 = ProJect_ANOVA(df_3)

In [116]:
owan3.KT_phan_phoi_chuan()
owan3.KT_phuong_sai()

Mẫu 1 tuân theo phân phối chuẩn
Mẫu 2 tuân theo phân phối chuẩn
Mẫu 3 tuân theo phân phối chuẩn
Mẫu 4 tuân theo phân phối chuẩn
Có ít nhất một cặp Phương sai không bằng nhau

Business Startup Costs

In [117]:
df_4 = pd.read_excel('owan04.xls')
df_4.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

      X1     X2    X3     X4  X5
0   80.0  150.0  48.0  100.0  25
1  125.0   40.0  35.0   96.0  80
2   35.0  120.0  95.0   35.0  30
3   58.0   75.0  45.0   99.0  35
4  110.0  160.0  75.0   75.0  30

In [118]:
owan4 = ProJect_ANOVA(df_4)

In [119]:
owan4.KT_phan_phoi_chuan()
owan4.KT_phuong_sai()

Mẫu 1 tuân theo phân phối chuẩn
Mẫu 2 tuân theo phân phối chuẩn
Mẫu 3 tuân theo phân phối chuẩn
Mẫu 4 tuân theo phân phối chuẩn
Mẫu 5 tuân theo phân phối chuẩn
Phương sai bằng nhau

Weights of Football Players

In [120]:
df_5 = pd.read_excel('owan05.xls')
df_5.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

    X1   X2   X3   X4   X5
0  250  260  270  260  247
1  255  271  250  255  249
2  255  258  281  265  255
3  264  263  273  257  247
4  250  267  257  268  244

In [121]:
owan5 = ProJect_ANOVA(df_5)

In [122]:
owan5.KT_phan_phoi_chuan()
owan5.KT_phuong_sai()

Mẫu 1 không tuân theo phân phối chuẩn
Mẫu 2 tuân theo phân phối chuẩn
Mẫu 3 tuân theo phân phối chuẩn
Mẫu 4 tuân theo phân phối chuẩn
Mẫu 5 tuân theo phân phối chuẩn
Phương sai bằng nhau